VITE_OPENROUTER_API_KEY=

# Configurações do Asaas (Produção e Sandbox)
# Mude ASAAS_MODE para 'production' para receber dinheiro real
ASAAS_MODE=sandbox
ASAAS_API_KEY=sua_chave_sandbox_aqui
ASAAS_PROD_API_KEY=sua_chave_de_producao_aqui
ASAAS_WEBHOOK_SECRET=token_do_webhook_aqui

