CREATE OR REPLACE FUNCTION consume_free_slot() RETURNS TRIGGER SECURITY DEFINER AS $$ BEGIN IF NEW.is_used = true AND OLD.is_used = false AND NEW.is_free = true THEN UPDATE profiles SET free_slot_consumed = true WHERE id = NEW.owner_id; END IF; RETURN NEW; END; $$ LANGUAGE plpgsql;
